<!DOCTYPE html>
<html>

  {% include data/head.html %}
  
    <body id="page-top" class="index">

    {% include data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 icon-about">
                    <img src="{{ site.baseurl }}/css/img/official_logo_text.png" alt="icon-about">
                </div>
                <div class="col-lg-6 text-center">
                    <div class="timeline-heading"> 
                        <h4> Networks in Biology and Medicine 2026 </h4> 
                        <p class="text-muted"> Bringing together researchers working from molecular relationships 
                            to individual patient treatments towards solving complex biomedical problems across scales. </p>
                        <p class="text-muted"> June 2026 @ Boston, MA, USA </p>
                    </div>
                    <a href="/submission" class="page-scroll btn btn-xl">Submission Information</a>
                </div>
            </div>            
        </div>
    </header>

    {% include data/faqs.html %}
    {% include data/speakers.html %}
    {% include data/sponsors.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>
