<!DOCTYPE html>
<html>

  {% include data/head.html %}
  
    <body id="page-top" class="index">

    {% include data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ site.baseurl }}/css/img/official_logo_text.png" alt="icon-about" width="100%">  
                </div>
                <div class="col-lg-8">
                    <h1 style="color: #1a940d; padding-top: 10vh;"> Networks in Biology and Medicine 2026 </h1> 
                    <p style="color: #984dee;"> Bringing together researchers working from molecular relationships 
                        to individual patient treatments towards solving complex biomedical problems across scales. </p>
                    <p style="color: #984dee;"> June 2026 @ Boston, MA, USA </p>
                    <a href="/submission" class="page-scroll btn btn-xl">Submission Information</a>  
                </div>
            </div>
        </div>
    </header>

    {% include data/faqs.html %}
    {% include data/speakers.html %}
    {% include data/sponsors.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>
